<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Generation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
<main>
    <form id="test-generation-form">
        <div class="form-group interactive">
            <label for="file-upload"><i class="fas fa-upload"></i>Upload a file</label>
            <input type="file" id="file-upload" accept=".txt,.docx,.pdf">
        </div>
        <div class="form-group interactive">
            <label for="raw-text">Raw Text</label>
            <div class="hidden">
                <textarea id="raw-text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="length">Test Size</label>
            <input type="range" id="length" min="40" value="40">
            <span class="range-number">40%</span>
        </div>
        <div class="form-group">
            <label class="container">
                <span class="text">Fill in the gaps</span>
                <input type="checkbox" value="gap" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-group">
            <label class="container">
                <span class="text">Sentence completion</span>
                <input type="checkbox" value="sentence-completion" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-group">
            <button type="button" id="generate">Generate</button>
        </div>
    </form>
</main>
</body>
</html>